<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

  <title>Interaktivna karta</title>
  <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  @RenderSection("styles", required: false)
</head>
<body>
  <partial name="_Nav" />

  <div class="container body-container">
    @RenderBody()
  </div>

  <script>
    window.applicationBaseUrl = '@Url.Content("~/")';
  </script>

  <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
  <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @RenderSection("scripts", required: false)
</body>
</html>
