<style>
    .navbar {
        height: 80px;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-brand > span {
        display: inline-block;
        vertical-align: middle;
    }
    
    .navbar-brand > span > span {
        display: inline-block;
        vertical-align: middle;
    }
    
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">PRATI STANJE NA AUTOCESTAMA REPUBLIKE HRVATSKE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="odmoriste">Odmorišta</a>
              </li>
            <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="autocesta">Autoceste</a>
              </li>
            
            <li class="nav-item">
                
                    <a class="nav-link" asp-action="Index" asp-controller="Dogadaj">Informacije</a>
               
            </li>
            <li class="nav-item">
                
                    <a class="nav-link" asp-action="Index" asp-controller="NaplatnaPostaja">Naplatne postaje</a>
               
            </li>
            
        </ul>
     
    </div>
  </div>
</nav>